#parent{
    margin-top: 50px;
    position:absolute;
    top:10px;
    left:10px;
    background:yellow;
    width:300px;
    height:300px;
}
#object1{
    width:100px;
    height:100px;
    position:absolute;
    background:green;
}
#object2{
    width:100px;
    height:100px;
    position:absolute;
    background:red;
}
#object3{
    width:100px;
    height:100px;
    position:absolute;
    background:blue;
}

#box {
    margin-top: 100px;
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 20px;
    border: black solid 3px;
    padding: 20px;
    justify-items:center;

}

#box div{
   position: relative;
    border: black solid 3px;
    width: 230px;
    height: 150px;
    padding: 25px;
    text-align: center;
    justify-items:center;
}
#box div div {

    justify-items:center;
    margin: auto;
    border: black solid 3px;
    width:145px;
    height: 95px;
    padding: 25px;

}
#task{
    margin-top: 300px;
    height: 100px;
}

.answers{
    justify-content: normal;
    margin-top: 400px;
    display: flex;
}

